
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  /*font-family: 'Merriweather', serif;*/
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  /*width: 10%;*/
  color: #66BFBF;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*padding-top: 100px;
  padding-left: 10px;
  padding-right: 100px;
  padding-bottom: 100px;
  */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  /*border: dotted #EAF6F6 6px;
  border-bottom: none;*/
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}


/* Home Section */

.avatar-image {
  width:20%;
  height: 20%;
}
  /* background-color: white; */
.presentation {
  margin-bottom: 2%
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 10% 15% 5% 15%;
}

/* Navbar Section */

.navbar-bg-color {
  background-color: #66BFBF;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
}
.middle-container {
margin-top: 0;
}
a.avatar-image {
      padding-bottom: 10px;
      padding-top: 10px;
      margin:auto 15% auto 10%;
      width: 200px;

}

img.profile {
  margin-top: 10%;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
 .skill-row {
   width: 55%;
   margin: 50px auto 50px auto;
   text-align:left;
   line-height: 2;
 }

.pro {
  text-decoration: underline;
}

.intro {
  width: 100%;
  margin: 10px auto 50px auto;
  text-align:center;
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin:40px auto 50px auto;

}
.contact-me {
  margin-bottom :40px;

}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 10px 0;
}

.top-could {
  margin-left: 300px;
  position: absolute;
  right: 300px;
  top:40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.sciences-des-donnes {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.RD-Microelectronics {
  width: 15%;
  float: right;
  margin-left: 30px;
}
.web-app-development {
  width: 15%;
  float: left;
  margin-right: 30px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4a);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4a);
  text-decoration: none;
}

.DS-skill-description {
  /*clear: left;*/
}
.MElecs-skill-description {
  /*clear:right; */
}

.code-skill-description {
  /*clear: left;*/
}

.profile {
  margin-top: 20px;
}

.Perso-presetation {
  width: 60%;
  margin: 20px auto 20px auto;
}
